header {
    background-color: rgb(85, 204, 212);
}

.title-heading {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    padding-top: 65px;
    padding-bottom: 45px;
}

nav {
    background-color: rgb(199, 202, 199);
    text-align: center;
    padding: 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    color: white
}

nav a:hover {
    background-color: rgb(175, 175, 175);
}

body {
    margin: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    color: white;
    background-color: rgb(254, 141, 123);
    padding: 8px;
}

.sub-container {
    color: white;
    font-weight: 540;
    background-color: rgb(248, 178, 138);
    font-size: 18px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.collapseable-container {
    display: flex;
    flex-flow: row nowrap;
}

h1 {
    text-decoration: underline;
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

footer {
    color: white;
    background-color: rgb(254, 103, 134);
    padding: 15px;
    text-align: center;
    font-weight: bold;
    word-spacing: 50px;
}

#scroll-return {
    border: white 5px solid;
    visibility: visible;
    text-align: center;
    margin-left: 650px;
    margin-right: 650px;
    padding-top: 10px;
    padding-bottom: 10px;
    -ms-user-select: none;
    user-select: none;
}

#scroll-return:hover {
    background-color: rgb(230, 150, 115);
    cursor: pointer;
}

.session-divider {
    border: white 5px solid;
    margin-top: 40px;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    visibility: hidden;
}

.session-divider .collapseable {
    position: absolute;
    top: 0px;
    left: 0px;
}

.toggle-text {
    position: relative;
    visibility: visible;
    border: white 5px solid;
    padding: 20px;
    -ms-user-select: none;
    user-select: none;
}

.toggle-text:hover {
    background-color: rgb(230, 150, 115);
    cursor: pointer;
}

.during-class {
    min-height: 650px;
    flex: 0 0 50%;
 }
 
 .outside-class {
    min-height: 650px;
    flex: 0 1 50%;
}