<nav>
    <div class="bg-primary">
        <div class="nav-container p-4 mx-5">
            <div class="home-image">
                <a href="/">
                    <img height=100px src="/img/Logo.png" alt="">
                    <img height=100px src="/img/TextLogo.png" alt="">
                </a>
            </div>
            <div class="nav-links">
                <a href="#" class="btn btn-dark mx-2 mt-5">Home</a>
                <div class="dropdown show">
                    <a class="btn btn-dark mx-2 mt-5" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Games
                        <i class="fas fa-caret-down" style="float: right; margin-right: 5px; margin-top: 3px;"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <h6 class="dropdown-header">B.I.T. Y3</h6>
                        <a class="dropdown-item" href="#">Death, Guns, and Slippers</a>
                        <a class="dropdown-item" href="#">Lab Escape</a>
                        <a class="dropdown-item" href="#">D.N.A.C.A.</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">B.I.T. Y2</h6>
                        <a class="dropdown-item" href="#">Connect Four</a>
                        <a class="dropdown-item" href="#">Wander A Bit</a>
                        <a class="dropdown-item" href="#">Minesweeper</a>
                        <a class="dropdown-item" href="#">Atari Breakout</a>
                        <a class="dropdown-item" href="#">Pacman</a>
                    </div>
                </div>
                <div class="dropdown show">
                    <a class="btn btn-dark mx-2 mt-5" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        3D Models
                        <i class="fas fa-caret-down" style="float: right; margin-right: 5px; margin-top: 3px;"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <h6 class="dropdown-header">B.I.T. Y3</h6>
                        <a class="dropdown-item" href="#">Stickman</a>
                        <a class="dropdown-item" href="#">Destructible Car</a>
                        <a class="dropdown-item" href="#">Charles the Cat</a>
                        <a class="dropdown-item" href="#">Robot</a>
                        <a class="dropdown-item" href="#">Low-Poly Cars</a>
                        <a class="dropdown-item" href="#">Supermarket Carpark</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">B.I.T. Y2</h6>
                        <a class="dropdown-item" href="#">Connect Four Assets</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">3D Prints</h6>
                        <a class="dropdown-item" href="#">Pusheen Model</a>
                        <a class="dropdown-item" href="#">Tank</a>
                    </div>
                </div>
                <a href="#" class="btn btn-dark mx-2 mt-5">Downloads</a>
                <a href="#" class="btn btn-dark mx-2 mt-5">About</a>
            </div>
        </div>
    </div>
</nav>