<nav>
    <div class="bg-primary">
        <div class="nav-container p-4 mx-5">
            <div class="home-image">
                <a href="/">
                    <img height=100px src="/img/Logo.png" alt="">
                    <img height=100px src="/img/TextLogo.png" alt="">
                </a>
            </div>
            <div class="nav-links">
                <a href="/" class="btn btn-dark mx-2 mt-5">Home</a>
                <div class="dropdown show">
                    <a class="btn btn-dark mx-2 mt-5" href="/games" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Games
                        <i class="fas fa-caret-down" style="float: right; margin-right: 5px; margin-top: 3px;"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/games">All Games</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">B.I.T. Y3</h6>
                        <a class="dropdown-item" href="/games/death_guns_and_slippers">Death, Guns, and Slippers</a>
                        <a class="dropdown-item" href="/games/lab_escape">Lab Escape</a>
                        <a class="dropdown-item" href="/games/dnaca">D.N.A.C.A.</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">B.I.T. Y2</h6>
                        <a class="dropdown-item" href="/games/connect_four">Connect Four</a>
                        <a class="dropdown-item" href="/games/wander_a_bit">Wander A Bit</a>
                        <a class="dropdown-item" href="/games/minesweeper">Minesweeper</a>
                        <a class="dropdown-item" href="/games/atari_breakout">Atari Breakout</a>
                        <a class="dropdown-item" href="/games/pacman">Pacman</a>
                    </div>
                </div>
                <div class="dropdown show">
                    <a class="btn btn-dark mx-2 mt-5" href="/models" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        3D Models
                        <i class="fas fa-caret-down" style="float: right; margin-right: 5px; margin-top: 3px;"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/models">All Models</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">B.I.T. Y3</h6>
                        <a class="dropdown-item" href="/models/stickman">Stickman</a>
                        <a class="dropdown-item" href="/models/destructible_car">Destructible Car</a>
                        <a class="dropdown-item" href="/models/charles_the_cat">Charles the Cat</a>
                        <a class="dropdown-item" href="/models/robot">Robot</a>
                        <a class="dropdown-item" href="/models/low_poly_cars">Low-Poly Cars</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">B.I.T. Y2</h6>
                        <a class="dropdown-item" href="/models/connect_four_assets">Connect Four Assets</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">3D Prints</h6>
                        <a class="dropdown-item" href="/models/santa_pusheen">Pusheen Model</a>
                        <a class="dropdown-item" href="/models/tank">Tank</a>
                    </div>
                </div>
                <a href="/downloads" class="btn btn-dark mx-2 mt-5">Downloads</a>
                <a href="/about" class="btn btn-dark mx-2 mt-5">About</a>
            </div>
        </div>
    </div>
</nav>