<div class="background2-div">
    <p class="title-font">About Me</p>
</div>
<div class="background1-div m-5 about-container flex-on-size-change">
    <img class="m-5" src="/img/about.jpg" alt="">
    <div class="p-5">
        Hi, my name is Clayton and I'm the one resposible for all the unique and cool creations on this website. I grew up playing games when I was younger, mostly racing games. My favourite part of playing games was the way I could travel to another world and do things that I would never be able to do. Many years later, now I have the privilege to create worlds of my own for other people to experience and enjoy. So, what are you waiting for? Pick a game and discover a whole new world.
        <br><br>
        At the moment Ground Up Games is just me. I'm developing my skills and making games in the process. It all starts with an idea. I take that idea, and create experiences, quests, adventure and more. From art, to sound, and most importantly the code, I do it all from nothing (with nothing being Unity). Just one step at a time, building games from the ground up. Find me on Instagram and Youtube where I will soon be posting updates on projects.
    </div>
    <div class="p-5 d-flex flex-column flex-wrap">
        <a href="https://www.instagram.com/ground_up_games/" class="d-flex">
            <img class="link-images" src="/img/insta.webp" alt="">
            <p class="p-4 link-text">Instagram</p>
        </a>
        <a href="https://www.youtube.com/channel/UCCYkYDAQ7mCVx6eO9eoUwkg" class="d-flex mt-5">
            <img class="link-images" src="/img/youtube.png" alt="">
            <p class="p-4 link-text">Youtube</p>
        </a>
    </div>
</div>