<div class="background2-div">
    <p class="title-font">Games</p>
</div>

<div class="downloads-container">
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/DeathGunsAndSlippers/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Death, Guns, and Slippers</h5>
                <p class="card-text">A 2D platformer with levels that are constantly shifting. Your main objective, reach the surface before time runs out.</p>
            </div>
            <div class="button-box">
                <a href="/games/death_guns_and_slippers" class="btn btn-primary">See Game</a>
                <a href="https://drive.google.com/uc?export=download&id=1t0zHPJIKNR2KjEvtezUm-GvWl2d5SwGS" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/LabEscape/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Lab Escape</h5>
                <p class="card-text">A 2D side scrolling game. Find the box hidden in each room to activate the doors preventing your escape.</p>
            </div>
            <div class="button-box">
                <a href="/games/lab_escape" class="btn btn-primary">See Game</a>
                <a href="https://drive.google.com/uc?export=download&id=1KpbVDkpll_bijrLr4mTPc2mw2-xRoZSB" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/DNACA/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Definitely Not A Clone Arcade</h5>
                <p class="card-text">A collection of Atari inspired phone games for Android.</p>
            </div>
            <div class="button-box">
                <a href="/games/dnaca" class="btn btn-primary">See Game</a>
                <a href="https://play.google.com/store/apps/details?id=com.CADProgramming.DefinitelyNotACloneArcade" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/ConnectFour/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Connect Four</h5>
                <p class="card-text">A basic recreation of the classic board game using Unreal Engine.</p>
            </div>
            <div class="button-box">
                <a href="/games/connect_four" class="btn btn-primary">See Game</a>
                <a href="https://drive.google.com/uc?export=download&id=1-dRjYAmMzjXJJZmycX1Rs1MKre0lcAL8" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/WanderABit/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Wander A Bit</h5>
                <p class="card-text">A top down rouge-like dunegeon game, with randomly generated levels written in native C++.</p>
            </div>
            <div class="button-box">
                <a href="/games/wander_a_bit" class="btn btn-primary">See Game</a>
                <a href="https://drive.google.com/uc?export=download&id=18ba4jz_aE7V4iOTU9V4-OWLXXzC-unaW" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/Minesweeper/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Minesweeper</h5>
                <p class="card-text">Based on the classic Windows XP minesweeper. Comes with scalable levels and new difficulties.</p>
            </div>
            <div class="button-box">
                <a href="/games/minesweeper" class="btn btn-primary">See Game</a>
                <a href="https://drive.google.com/uc?export=download&id=1KFdhhKLKP7j_1gcCc9WMFQyyjwxuuqZg" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/AtariBreakout/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Atari Breakout</h5>
                <p class="card-text">A recreation of Arkanoid, an Atari spin-off of the original Breakout.</p>
            </div>
            <div class="button-box">
                <a href="/games/atari_breakout" class="btn btn-primary">See Game</a>
                <a href="https://drive.google.com/uc?export=download&id=1RNivDXyhpyBXBENjmZhg89K2EccQqGYe" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/Pacman/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Pacman</h5>
                <p class="card-text">A recreation of the classic Atari game PACMAN. Has Mrs PACMAN multiplayer.</p>
            </div>
            <div class="button-box">
                <a href="/games/pacman" class="btn btn-primary">See Game</a>
                <a href="https://drive.google.com/uc?export=download&id=19JAovoCgRZhJ1jvMrzd-CDSqp8UKp2HL" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
</div>

<div class="background2-div">
    <p class="title-font">Models</p>
</div>

<div class="downloads-container">
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/Stickman/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Stickman</h5>
                <p class="card-text">Rigged and Animated</p>
            </div>
            <div class="button-box">
                <a href="/models/stickman" class="btn btn-primary">See Model</a>
                <a href="https://drive.google.com/uc?export=download&id=1ySJbOkWMlNKGChRCnO6iiHfosNOMqa8E" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/DestructibleCar/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Destructible Car</h5>
                <p class="card-text">Static Model</p>
            </div>
            <div class="button-box">
                <a href="/models/destructible_car" class="btn btn-primary">See Model</a>
                <a href="https://drive.google.com/uc?export=download&id=1Ck1vg9t917q4ToJqALohE3MxqYCeNht0" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/CharlesTheCat/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Charles The Cat</h5>
                <p class="card-text">Rigged and Animated</p>
            </div>
            <div class="button-box">
                <a href="/models/charles_the_cat" class="btn btn-primary">See Model</a>
                <a href="https://drive.google.com/uc?export=download&id=1XNTj8zCuYjnksP4gJLTtsa1pyXIdbvhS" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/Robot/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Robot</h5>
                <p class="card-text">Rigged and Animated</p>
            </div>
            <div class="button-box">
                <a href="/models/robot" class="btn btn-primary">See Model</a>
                <a href="https://drive.google.com/uc?export=download&id=1hs-V5SICp9XD-CrS06drrJXAf7BPGXQh" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/LowPolyCars/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Low Poly Cars</h5>
                <p class="card-text">Static Model</p>
            </div>
            <div class="button-box">
                <a href="/models/low_poly_cars" class="btn btn-primary">See Model</a>
                <a href="https://drive.google.com/uc?export=download&id=1SZijLhNnb22wosqAh-rKwFGRvo4Duezj" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/ConnectFourAssets/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Connect Four Assets</h5>
                <p class="card-text">Static Model</p>
            </div>
            <div class="button-box">
                <a href="/models/connect_four_assets" class="btn btn-primary">See Model</a>
                <a href="https://drive.google.com/uc?export=download&id=1G-i7v18QlLH62i2VtX0Sci9MHfIn9klt" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/SantaPusheen/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Santa Pusheen</h5>
                <p class="card-text">Static Model</p>
            </div>
            <div class="button-box">
                <a href="/models/santa_pusheen" class="btn btn-primary">See Model</a>
                <a href="https://drive.google.com/uc?export=download&id=1wDMWAJJ9lOJsuC_OjuACvGWMdk4wQ2Rr" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
    <div class="game-item">
        <div class="download-body bg-secondary">
            <img src="/img/Tank/icon.png" alt="Card image cap">
            <div>
                <h5 class="card-title">Tank</h5>
                <p class="card-text">Static Model</p>
            </div>
            <div class="button-box">
                <a href="/models/tank" class="btn btn-primary">See Model</a>
                <a href="https://drive.google.com/uc?export=download&id=1Y8ADgVn70Tgisiu97008TJmEqE9hjRqn" class="btn btn-primary" download>Download</a>
            </div>
        </div>
    </div>
</div>