<div class="background2-div">
    <p class="title-font">Games</p>
</div>

<div class="game-container">
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/DeathGunsAndSlippers/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Death, Guns, and Slippers</h5>
                <p class="card-text">A 2D platformer with levels that are constantly shifting. Your main objective, reach the surface before time runs out.</p>
            </div>
            <a href="/games/death_guns_and_slippers" class="btn btn-primary">See Game</a>
        </div>
    </div>
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/LabEscape/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Lab Escape</h5>
                <p class="card-text">A 2D side scrolling game. Find the box hidden in each room to activate the doors preventing your escape.</p>
            </div>
            <a href="/games/lab_escape" class="btn btn-primary">See Game</a>
        </div>
    </div>
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/DeathGunsAndSlippers/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Definitely Not A Clone Arcade</h5>
                <p class="card-text">A collection of Atari inspired phone games for Android.</p>
            </div>
            <a href="/games/dnaca" class="btn btn-primary">See Game</a>
        </div>
    </div>
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/DeathGunsAndSlippers/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Connect Four</h5>
                <p class="card-text">A basic recreation of the classic board game using Unreal Engine.</p>
            </div>
            <a href="/games/connect_four" class="btn btn-primary">See Game</a>
        </div>
    </div>
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/DeathGunsAndSlippers/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Wander A Bit</h5>
                <p class="card-text">A top down rouge-like dunegeon game, with randomly generated levels written in native C++.</p>
            </div>
            <a href="/games/wander_a_bit" class="btn btn-primary">See Game</a>
        </div>
    </div>
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/DeathGunsAndSlippers/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Minesweeper</h5>
                <p class="card-text">Based on the classic Windows XP minesweeper. Comes with scalable levels and new difficulties.</p>
            </div>
            <a href="/games/minesweeper" class="btn btn-primary">See Game</a>
        </div>
    </div>
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/DeathGunsAndSlippers/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Atari Breakout</h5>
                <p class="card-text">A recreation of Arkanoid, an Atari spin-off of the original Breakout.</p>
            </div>
            <a href="/games/atari_breakout" class="btn btn-primary">See Game</a>
        </div>
    </div>
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/DeathGunsAndSlippers/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Pacman</h5>
                <p class="card-text">A recreation of the classic Atari game PACMAN. Has Mrs PACMAN multiplayer.</p>
            </div>
            <a href="/games/pacman" class="btn btn-primary">See Game</a>
        </div>
    </div>
</div>