<div class="background2-div">
  <p class="title-font">Recent Games</p>
</div>

<div>
  <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/games/death_guns_and_slippers">
          <img src="/img/DeathGunsAndSlippers/ScreenShot1.png" class="img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Death, Guns, and, Slippers</h5>
            <p>2D Platformer</p>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="/games/lab_escape">
          <img src="/img/LabEscape/capture.png" class="img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Lab Escape</h5>
            <p>2D Side Scroller</p>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="/games/dnaca">
          <img src="/img/DNACA/Splash.png" class="img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Definitely Not A Clone Arcade</h5>
            <p>Android Arcade Games</p>
          </div>
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="main-container">
  <div class="logo bg-primary">
    <img width=25% src="/img/Logo.png" alt="">
    <img width=35% src="/img/TextLogo.png" alt="">
  </div>
  <div class="background2-div welcome-text">
    <p class="title-font">Welcome</p>
    <p class="mt-3">Here at Ground Up Games, I make and produce games using Unity and occasionally Unreal Engine. <br>The main goal behind my projects is to create something unique and interesting with a bit of my own personality sprinkled on top. <br>My main focus at the moment is 2D games, but I want to expand to 3D games as well. At the moment all of my projects are free and available to download at the downloads page.</p>
  </div>
</div>