<div class="background2-div">
    <p class="title-font">Models</p>
</div>

<div class="game-container">
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/Stickman/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Stickman</h5>
                <p class="card-text">Rigged and Animated</p>
            </div>
            <a href="/models/stickman" class="btn btn-primary">See Model</a>
        </div>
    </div>
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/DestructibleCar/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Destructible Car</h5>
                <p class="card-text">Static Model</p>
            </div>
            <a href="/models/destructible_car" class="btn btn-primary">See Model</a>
        </div>
    </div>
    <div class="card game-item m-4" style="width: 45rem;">
        <img class="card-img-top" src="/img/CharlesTheCat/icon.png" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Charles The Cat</h5>
                <p class="card-text">Rigged and Animated</p>
            </div>
            <a href="/models/charles_the_cat" class="btn btn-primary">See Model</a>
        </div>
    </div>
</div>