.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links a {
    width: 250px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    padding-top: 12px;
}

.dropdown-menu {
    width: 450px;
}

.dropdown-menu h6 {
    font-family: 'Press Start 2P', cursive;
}

.dropdown-menu :hover {
    width: 448px;
}

.home-image a {
    text-decoration: none;
}