/* ------LAYOUT.EJS------ */
body {
    font-family: 'Press Start 2P', cursive;
}

/* ------NAVBAR.EJS------ */
.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links a {
    width: 250px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    padding-top: 12px;
}

.dropdown-menu {
    width: 450px;
}

.dropdown-menu h6 {
    font-family: 'Press Start 2P', cursive;
}

.dropdown-menu :hover {
    width: 448px;
}

.home-image a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content:center;
}


/* ------FOOTER.EJS------ */
footer div {
    font-family: 'Press Start 2P', cursive;
}

.background1-div {
    background-color:lightskyblue;
}

.background2-div {
    background-color:white;
}


/* ------INDEX.EJS------ */
/* Carousel */
.carousel {
    width: 1536px;
}

.carousel-item a {
    text-decoration: none;
    color: white;
}

.title-font {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(50, 50, 50);
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 48px;
    text-decoration: underline;
    font-weight: bold;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.welcome-text {
    padding-top: 50px;
    padding-bottom: 125px;
    padding-left: 25%;
    padding-right: 25%;
    color: black;
    text-align: left;
}


/* ------DEATH_GUNS_AND_SLIPPERS.EJS------ */
.video-showcase {
    display: flex;
    justify-content: center;
}

.video-showcase iframe {
    width: 64vw;
    height: 36vw;
}

.row-of-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.level-info {
    display: flex;
    flex-direction: row;
}

.level-info div {
    width: 40%;
}

.level-info img {
    width: 45%;
    height: 45%;
}

.header-image {
    width: 200px;
    height: 200px;
}

.game-header {
    justify-content: space-evenly;
}

.game-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.game-header-container a {
    width: 200px;
}


/* ------ERROR404.EJS------ */
#page404 {
    padding-top: 34vh;
    padding-bottom: 34vh;
}


/* ------STICKMAN.EJS------ */
.model-viewport {
    width: 64vw;
    height: 36vw;
}

.model-showcase {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

select > option {
    font-family: 'OCR A';
    font-weight: bold;
}

select {
    width: 300px !important;
}


/* ------GAMES.EJS------ */
.game-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-container img {
    width: 300px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-item {
    display: flex;
    flex-direction: row;
}


@media (max-width: 1900px) {
    .nav-links a {
        width: 12vw;
        font-size: 0.9vw;
    }
}

@media (max-width: 1250px) {
    .game-header-container {
        margin-left: 50px;
        width: 100%;
        margin-top: 0px !important;
        margin-bottom: 40px !important;
    }
    
    .game-header-container a {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links a {
        width: 100%;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        font-size: 14px;
        text-align: center;
    }

    .dropdown-menu {
        width: 100%;
    }

    .dropdown-menu :hover {
        width: 100%;
    }

    .welcome-text {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 15%;
        padding-right: 15%;
        color: black;
    }
}

@media (max-width: 550px) {
    .nav-links a {
        font-size: 2.5vw;
        text-align: center;
    }
}

@media (max-width: 1536px) {
    .carousel {
        width: 100vw;
    }
}