<div class="background2-div">
    <div class="row-of-items game-header">
        <div class="p-2 my-5 ml-5 game-header" style="background-color: black;">
            <img class="header-image" src="/img/ConnectFourAssets/icon.png" alt="">
        </div>
        <div>
            <p class="title-font">Connect Four Assets</p>
            <h2 class="text-center pb-5">Static Model</h2>
        </div>
        <div class="bg-primary p-2  mr-5 game-header-container">
            <a class="btn btn-dark" href="https://drive.google.com/uc?export=download&id=1G-i7v18QlLH62i2VtX0Sci9MHfIn9klt" download>Download</a>
        </div>
    </div>
</div>

<div class="model-showcase" style="background-color: black;">
    <div class="bg-dark d-flex">
        <model-viewer class="model-viewport" alt="" src="/img/ConnectFourAssets/Grid.glb" animation-crossfade-duration=300 ar ar-modes="webxr scene-viewer quick-look" poster="/img/ConnectFourAssets/grid.png" seamless-poster shadow-intensity="1" camera-controls></model-viewer>
    </div>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">Simple models with colliders for the Connect Four Unreal project I made. Has an animated switch under the grid which allowed me to animate the grid opening.<br>
          <br>Made in Blender.<br>
      </div>
</div>