<div class="background2-div">
    <div class="row-of-items game-header">
        <div class="p-2 my-5 ml-5 game-header" style="background-color: black;">
            <img class="header-image" src="/img/DestructibleCar/icon.png" alt="">
        </div>
        <div>
            <p class="title-font">Destructible Car</p>
            <h2 class="text-center pb-5">Static Model</h2>
        </div>
        <div class="bg-primary p-2  mr-5 game-header-container">
            <a class="btn btn-dark" href="https://drive.google.com/uc?export=download&id=1Ck1vg9t917q4ToJqALohE3MxqYCeNht0" download>Download</a>
        </div>
    </div>
</div>

<div class="model-showcase" style="background-color: black;">
    <div class="bg-dark d-flex">
        <model-viewer class="model-viewport-double" alt="" src="/img/DestructibleCar/destructible_car.glb" animation-crossfade-duration=300 ar ar-modes="webxr scene-viewer quick-look" poster="/img/DestructibleCar/destructible_car.png" seamless-poster shadow-intensity="1" camera-controls></model-viewer>
        <model-viewer class="model-viewport-double" alt="" src="/img/DestructibleCar/destructible_car_pieces.glb" animation-crossfade-duration=300 ar ar-modes="webxr scene-viewer quick-look" poster="/img/DestructibleCar/destructible_car_pieces.png" seamless-poster shadow-intensity="1" camera-controls></model-viewer>
    </div>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">Created for the same game as the Stickman, this car was created for a game that I want to make where nearly everything can be destroyed. The car has many different parts, that once damaged, would fall off the car. <br>
          <br>Made in Blender.<br>
      </div>
</div>