<div class="background2-div">
    <div class="row-of-items game-header">
        <div class="p-2 my-5 ml-5 game-header" style="background-color: black;">
            <img class="header-image" src="/img/SantaPusheen/icon.png" alt="">
        </div>
        <div>
            <p class="title-font">Santa Pusheen</p>
            <h2 class="text-center pb-5">Static Model</h2>
        </div>
        <div class="bg-primary p-2  mr-5 game-header-container">
            <a class="btn btn-dark" href="https://drive.google.com/uc?export=download&id=1wDMWAJJ9lOJsuC_OjuACvGWMdk4wQ2Rr" download>Download</a>
        </div>
    </div>
</div>

<div class="model-showcase" style="background-color: black;">
    <div class="bg-dark d-flex">
        <model-viewer class="model-viewport" alt="" src="/img/SantaPusheen/Pusheen.glb" animation-crossfade-duration=300 ar ar-modes="webxr scene-viewer quick-look" poster="/img/SantaPusheen/pusheen.png" seamless-poster shadow-intensity="1" camera-controls></model-viewer>
    </div>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">I made this as a gift for a friend. I wanted to create something with a Christmas theme that I could 3D print.<br>
          <br>Made in Blender.<br>
      </div>
</div>