<div class="background2-div">
    <div class="row-of-items game-header">
        <div class="p-2 my-5 ml-5 game-header" style="background-color: black;">
            <img class="header-image" src="/img/Tank/icon.png" alt="">
        </div>
        <div>
            <p class="title-font">Tank</p>
            <h2 class="text-center pb-5">Static Model</h2>
        </div>
        <div class="bg-primary p-2  mr-5 game-header-container">
            <a class="btn btn-dark" href="https://drive.google.com/uc?export=download&id=1Y8ADgVn70Tgisiu97008TJmEqE9hjRqn" download>Download</a>
        </div>
    </div>
</div>

<div class="model-showcase" style="background-color: black;">
    <div class="bg-dark d-flex">
        <model-viewer class="model-viewport-double" alt="" src="/img/Tank/Tank.glb" animation-crossfade-duration=300 ar ar-modes="webxr scene-viewer quick-look" poster="/img/Tank/tank.png" seamless-poster shadow-intensity="1" camera-controls></model-viewer>
        <model-viewer class="model-viewport-double" alt="" src="/img/Tank/Tank_pieces.glb" animation-crossfade-duration=300 ar ar-modes="webxr scene-viewer quick-look" poster="/img/Tank/tank_pieces.png" seamless-poster shadow-intensity="1" camera-controls></model-viewer>
    </div>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">I created this tank as a chassis to hold my arduino. I thought it would be cooler than the chassis we were provided for our embedded systems project. I had to 3D model every component that I wanted to put inside to make sure it would fit. The hard part was making every model exactly to scale in every detail.<br>
          <br>Made in Blender.<br>
      </div>
</div>