<div class="background2-div">
    <div class="background2-div">
        <div class="row-of-items game-header">
            <div class="bg-dark p-2 my-5 ml-5 game-header">
                <img class="header-image" src="/img/ConnectFour/icon.png" alt="">
            </div>
            <div>
                <p class="title-font">Connect Four</p>
                <h2 class="text-center pb-5">Board Game</h2>
            </div>
            <div class="bg-primary p-2  mr-5 game-header-container">
                <a class="btn btn-dark" href="https://drive.google.com/uc?export=download&id=1-dRjYAmMzjXJJZmycX1Rs1MKre0lcAL8" download>Download</a>
            </div>
        </div>
    </div>
</div>

<div class="video-showcase">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ap15LZeqhjM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">This game is a recreation of the simple but popular board game connect four.<br>
          <br>I made this project to experiment with Unreal engine because I had just finished a few different Unreal tutorials and wanted to see what I could build from scratch. The game functions but is missing some error checking.<br>
          <br>Made using Unreal engine. The connect four assets were made in Blender.</p>
      </div>
</div>