<div class="background2-div">
    <p class="title-font">Death, Guns, And Slippers</p>
    <h2 class="text-center pb-5">2D Platformer</h2>
</div>

<div class="video-showcase">
    <iframe src="/img/DeathGunsAndSlippers/Gameplay.mp4" frameborder="0"></iframe>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">War veteran and senior citizen, George, is imprisoned by his family within QUIET, an underground retirement village. Using his military experience, his wit, and his favourite pair of slippers, he has only one chance to escape.<br>
          <br>The main concept for this game is you start at the bottom of the level and you have to reach the top of the level before time runs out. There is also the added twist that the levels rearrange themselves like a sliding puzzle while you are still inside.<br>
          <br>Made with Unity. All sprites are original.</p>
      </div>
      <div class="background2-div">
        <p class="title-font">How To Play</p>
      </div>
      <div class="background2-div">
        <h2>Controls</h2>
        <div class="controls mb-5">
          <div class="text-left ml-5">
            Action<br><br>
            Move<br>
            Jump<br>
            Drop (Platform)<br>
            Attack<br>
            Sprint<br>
            Interact<br>
            Pickup<br>
            Weapon Holster<br>
            Weapon Left<br>
            Weapon Right<br>
            Weapon Drop<br>
            Map<br>
            Pause<br>
          </div>
          <div class="text-left ml-5">
            Keyboard<br><br>
            Left Arrow / Right Arrow<br>
            Up Arrow<br>
            Down Arrow<br>
            Space<br>
            Shift<br>
            Left Control<br>
            E<br>
            W<br>
            A<br>
            D<br>
            S<br>
            M<br>
            Escape<br>
          </div>
          <div class="text-left ml-5">
            XBOX Controller<br><br>
            Left Joystick<br>
            A<br>
            B<br>
            Right Trigger<br>
            Left Trigger<br>
            Y<br>
            X<br>
            D-Pad Up<br>
            D-Pad Left / Left Button<br>
            D-Pad Right / Right Button<br>
            D-Pad Down<br>
            Back<br>
            Start<br>
          </div>
        </div>
    </div>
      <div class="background1-div pt-5">
          <h2>Level Types</h2>
      </div>
      <div class="row-of-items">
        <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/ParkourRoomBase.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Platform Level</h5>
              <p class="card-text">The platform level is made up of randomly placed platforms. There are three types of platforms that generate.</p>
              <a href="#scrollspyHeading1" class="btn btn-primary">More Info</a>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/FactoryRoomBase.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Factory Level</h5>
              <p class="card-text">The factory level contains dangerous hazards that are placed at random on conveyer belts.</p>
              <a href="#scrollspyHeading2" class="btn btn-primary">More Info</a>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/CellBlockRoomBase.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cell Block Level</h5>
              <p class="card-text">The cell block level has a combination of staff members and friends. Friends can be rescued with keys.</p>
              <a href="#scrollspyHeading3" class="btn btn-primary">More Info</a>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/StaffRoomBase.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Staff Level</h5>
              <p class="card-text">The staff level has enemies and you can sabotage equipement like generators and servers to get more time.</p>
              <a href="#scrollspyHeading4" class="btn btn-primary">More Info</a>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/TrapRoomBase.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Trap Level</h5>
              <p class="card-text">The trap level looks almost identical to the cell block level. Once entered the trap level reveals its traps.</p>
              <a href="#scrollspyHeading5" class="btn btn-primary">More Info</a>
            </div>
          </div>
      </div>
      <div class="background1-div pt-5">
        <p class="title-font" id="scrollspyHeading1">Platform Level</p>
        <div class="level-info">
            <img class="ml-5 mr-5 mb-5" src="/img/DeathGunsAndSlippers/Parkour.png" alt="">
            <div class="text-left">
                <h2>1. Static</h2>
                <p>Static platforms do not move.</p>
                <h2 class="pt-3">2. Moving</h2>
                <p>Moving platforms can move either horizontally or vertically.</p>
                <h2 class="pt-3">3. Broken</h2>
                <p class="mb-5">Broken platforms break after a small delay once completely stepped on. They respawn after 10 seconds.</p>
            </div>
        </div>
      </div>
      <div class="background2-div pt-5">
        <p class="title-font" id="scrollspyHeading2">Factory Level</p>
        <div class="level-info">
            <img class="ml-5 mr-5 mb-5" src="/img/DeathGunsAndSlippers/FactoryLevel.png" alt="">
            <div class="text-left">
                <h2>1. Conveyer Belt</h2>
                <p>Conveyer belts will slowly move any object and or person towards the end of the belt.</p>
                <h2 class="pt-3">2. Trap</h2>
                <p class="mb-5">The traps or hazards are different types of machinery that can cause bodily harm to your character.</p>
            </div>
        </div>
      </div>
      <div class="background1-div pt-5">
        <p class="title-font" id="scrollspyHeading3">Cell Block Level</p>
        <div class="level-info">
            <img class="ml-5 mr-5 mb-5" src="/img/DeathGunsAndSlippers/CellBlockRoom.png" alt="">
            <div class="text-left">
                <h2>1. Enemy</h2>
                <p>Enemies can be avoided altogether. <br>Exclamation mark -> Chase/Attack. Question mark -> Lost sight of player. Radio -> Activating spawner.</p>
                <h2 class="pt-3">2. Cell</h2>
                <p>Friends are trapped in cells. Release them when you have a key. Friends sometimes drop gifts.</p>
                <h2 class="pt-3">3. Vent</h2>
                <p>Randomly transport to another vent. Caution uses stamina.</p>
                <h2 class="pt-3">4. Spawner</h2>
                <p class="mb-5">Once opened, spawns enemies. Can be closed once opened.</p>
            </div>
        </div>
      </div>
      <div class="background2-div pt-5">
        <p class="title-font" id="scrollspyHeading4">Staff Level</p>
        <div class="level-info">
            <img class="ml-5 mr-5 mb-5" src="/img/DeathGunsAndSlippers/StaffRoom.png" alt="">
            <div class="text-left">
                <h2>1. Enemies</h2>
                <p>Enemies can be avoided altogether. <br>Exclamation mark -> Chase/Attack. Question mark -> Lost sight of player. Radio -> Activating spawner.</p>
                <h2 class="pt-3">2. Generator/Server</h2>
                <p>Complete the puzzle by filling in all of the squares and connecting the matching nodes to shut down the equipment and earn extra time</p>
                <h2 class="pt-3">3. Spawner</h2>
                <p class="mb-5">Once opened, spawns enemies. Can be closed once opened.</p>
            </div>
        </div>
      </div>
      <div class="background1-div pt-5">
        <p class="title-font" id="scrollspyHeading5">Trap Level</p>
        <div class="level-info">
            <img class="ml-5 mr-5 mb-5" src="/img/DeathGunsAndSlippers/TrapRoom.png" alt="">
            <div class="text-left">
                <h2>1. Trap</h2>
                <p>Traps cause heavy damage to the player. Avoid at all costs.</p>
                <h2 class="pt-3">2. False Floors</h2>
                <p class="mb-5">Some floors aren't actual floors. Some open dropping you down a floor, others are buttons that speed up traps.</p>
            </div>
        </div>
      </div>
    <div class="background2-div">
        <h2 class="my-5">Other Level Objects</h2>
    </div>
      <div class="row-of-items">
        <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/Bounce.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bouncy Sofa</h5>
              <p class="card-text">Allows you to bounce real high.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/LoungeChair.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lounge Chair</h5>
              <p class="card-text">Sleep in this chair to regain stamina.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/Table.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Table</h5>
              <p class="card-text">Open this table to receive random loot.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/FirstGun.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">First Gun</h5>
              <p class="card-text">You should probably pick this up. Find it in the first level.<p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/DoubleUp.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Convert To Ammo</h5>
              <p class="card-text">If you have two of the same weapon you can press interact to convert the weapon on the ground into ammo.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/GeneratorPuzzle.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Generator/Server Puzzle</h5>
              <p class="card-text">Complete this puzzle to get more time. Fill in all of the squares while connecting the matching coloured nodes.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/FinalButton.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">End Game Button</h5>
              <p class="card-text">Press all of the end game buttons in the final level to activate the terminal. Buttons can only be pressed when they are yellow.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/ExitSign.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Where Is The Exit?</h5>
              <p class="card-text">Follow the exit signs to find the final terminal on the ground floor.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/FinalTerminal.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Final Terminal</h5>
              <p class="card-text">Complete the final terminal which is a 10x10 version of the generator/server puzzle to open the doors and escape.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/FinalGame.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Final Puzzle</h5>
              <p class="card-text">The same as the generator/server puzzle, only bigger.</p>
            </div>
          </div>
      </div>
    <div class="background2-div">
        <h2 class="my-5">Weapons, Ammo, and Collectibles</h2>
    </div>
      <div class="row-of-items">
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/DencherLauncherGun.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dencher Launcher</h5>
              <p class="card-text text-left">Slow rate of fire. Shoots teeth that bounce around and snap onto enemies. Snap damage over time.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/DencherLauncherAmmo.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Teeth</h5>
              <p class="card-text">Ammo pickup for Dencher Launcher. Can only pick up if ammo reserve not full.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/JigsawLMGGun.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jigsaw LMG</h5>
              <p class="card-text">Medium rate of fire, but reasonably high damage. Automatic.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/JigsawLMGBullet.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jigsaw Piece</h5>
              <p class="card-text">Ammo pickup for Jigsaw LMG. Can only pick up if ammo reserve not full.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/PillPopperGun.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pill Popper</h5>
              <p class="card-text">Fast rate of fire. Does medium amount of damage. Automatic.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/PillPopperBullet.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pill</h5>
              <p class="card-text">Ammo pickup for Pill Popper. Can only pick up if ammo reserve not full.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/SyringeShooterGun.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Syringe Shooter</h5>
              <p class="card-text">Very slow rate of fire. Extreme damage. Rifle.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/SyringeShooterBullet.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Syringe</h5>
              <p class="card-text">Ammo pickup for Syringe Shooter. Can only pick up if ammo reserve not full.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/Health.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">AED</h5>
              <p class="card-text">Health kit. Single use. Restores 25% of player's health.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/Stamina.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Adrenaline</h5>
              <p class="card-text">Staima pickup. Single use. Restores 25% of player's stamina.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/Key.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Key</h5>
              <p class="card-text">Single use item. Can be used to free a friendly NPC.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/DeathGunsAndSlippers/Money.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Money</h5>
              <p class="card-text">Not useful until shop is added to the game. Gives small bonus to score at the end of the game.</p>
            </div>
          </div>
      </div>
</div>