<div class="background2-div">
    <p class="title-font">Definitely Not A Clone Arcade</p>
    <h2 class="text-center pb-5">Android Arcade Games</h2>
</div>

<div class="video-showcase">
    <iframe src="/img/DNACA/Gameplay.mp4" frameborder="0"></iframe>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">Comes with three games based on Atari Classics. Each game has a unique twist to make it my own. The first game has powerups and enemies for the player to hit with the ball and paddle. The second game has bullets and weapons the player can fire at the bomb enemies and the last game has a human body and bacteria theme.<br>
          <br>This project was designed for me to become familiar with developing games for Android using Unity. It was also a challenge to manage time effectively trying to work on multiple mini games.<br>
          <br>Made with Unity. All sprites and sounds are original and made by me. The game is currently available on the Google Play store. The link is on the downloads page.</p>
      </div>
      <div class="background2-div">
        <p class="title-font">How To Play</p>
      </div>
      <div class="background2-div">
        <h2>Controls</h2>
        <div class="controls mb-5">
          <div class="text-left ml-5">
            Ghost Brick<br><br>
            Move - Touch and Drag<br>
            Launch - Double Tap<br>
          </div>
          <div class="text-left ml-5">
            Double Trouble<br><br>
            Move - Swipe or Buttons<br>
            Shoot - Button<br>
            Special - Button<br>
          </div>
          <div class="text-left ml-5">
            Invasion Chaos<br><br>
            Move - Buttons<br>
            Shoot - Button<br>
          </div>
        </div>
</div>