<div class="background2-div">
  <div class="background2-div">
      <div class="row-of-items game-header">
          <div class="bg-dark p-2 my-5 ml-5 game-header">
              <img class="header-image" src="/img/LabEscape/icon.png" alt="">
          </div>
          <div>
              <p class="title-font">Lab Escape</p>
              <h2 class="text-center pb-5">2D Side Scroller</h2>
          </div>
          <div class="bg-primary p-2  mr-5 game-header-container">
              <a class="btn btn-dark" href="https://drive.google.com/uc?export=download&id=1KpbVDkpll_bijrLr4mTPc2mw2-xRoZSB" download>Download</a>
          </div>
      </div>
  </div>
</div>

<div class="video-showcase">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3LpTfCB5pfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">An unethical laboratory has been experimenting on defenceless animals. After extensive mutation, you, the monkey, have the ability to morph into other animals. With your cage unlatched, you now have a chance to escape this nightmare, returning to your home in the wild.<br>
          <br>The main concept for this game was to create a side scrolling demo that would show off key game play mechanics. The player will have to make use of the different game mechanics to complete the 3 seperate levels.<br>
          <br>This game was a collaboration project with the Design school. A design student made the player sprites and the enemy sprites. I found the tileset on an online gamedev market place. The background and particle effects were made by me, as well as the game mechanics.</p>
      </div>
      <div class="background2-div">
        <p class="title-font">How To Play</p>
      </div>
      <div class="background2-div">
        <h2>Controls</h2>
        <div class="controls mb-5">
          <div class="text-left ml-5">
            Action<br><br>
            Move<br>
            Jump<br>
            Drop<br>
            Sprint<br>
            Interact<br>
            Restart<br>
          </div>
          <div class="text-left ml-5">
            Keyboard<br><br>
            Left Arrow / Right Arrow<br>
            Space<br>
            Left Control<br>
            Left Shift<br>
            E<br>
            R<br>
          </div>
        </div>
    </div>
    <div class="background1-div pt-5">
        <h2>Character Types</h2>
    </div>
    <div class="row-of-items">
      <div class="card m-2" style="width: 25rem;">
          <img class="card-img-top" src="/img/LabEscape/Monkey.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Monkey</h5>
            <p class="card-text">The monkey can swing on poles and wall climb on specific walls. He can also interact with crates.</p>
          </div>
        </div>
        <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/LabEscape/Bird.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bird</h5>
              <p class="card-text">The bird has the ability to glide long distances. He can also interact with crates.</p>
            </div>
          </div>
          <div class="card m-2" style="width: 25rem;">
            <img class="card-img-top" src="/img/LabEscape/Enemy.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Enemy</h5>
              <p class="card-text">The enemy can shoot globs of goo that stun the player. He can also capture the player and send him back to his cage.</p>
            </div>
          </div>
    </div>