<div class="background2-div">
    <div class="background2-div">
        <div class="row-of-items game-header">
            <div class="bg-dark p-2 my-5 ml-5 game-header">
                <img class="header-image" src="/img/Minesweeper/icon.png" alt="">
            </div>
            <div>
                <p class="title-font">Minesweeper</p>
                <h2 class="text-center pb-5">Strategy</h2>
            </div>
            <div class="bg-primary p-2  mr-5 game-header-container">
                <a class="btn btn-dark" href="https://drive.google.com/uc?export=download&id=1KFdhhKLKP7j_1gcCc9WMFQyyjwxuuqZg" download>Download</a>
            </div>
        </div>
    </div>
  </div>

<div class="video-showcase">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/d2ZUnuL4DW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">I use to play minesweeper when I was younger, granted I didn't actually know how to play so I would just click at random and hope for the best.<br>
          <br>After completing the first project for the first semester of second year, (Atari Breakout), I wanted to experiment to see what I could create using the new knowledge I just acquired. I had also just learnt about reccursion, and the grid search that happens when you click a zero could be solved using reccursion. I managed to recreate minesweeper down to the detail of not dying on the first click.<br>
          <br>I made this using Visual Studio Forms.</p>
      </div>
</div>