<div class="background2-div">
    <div class="background2-div">
        <div class="row-of-items game-header">
            <div class="bg-dark p-2 my-5 ml-5 game-header">
                <img class="header-image" src="/img/WanderABit/icon.png" alt="">
            </div>
            <div>
                <p class="title-font">Wander A Bit</p>
                <h2 class="text-center pb-5">RNG Dungeon Rouge-like</h2>
            </div>
            <div class="bg-primary p-2  mr-5 game-header-container">
                <a class="btn btn-dark" href="#">Download</a>
            </div>
        </div>
    </div>
  </div>

<div class="video-showcase">
    <iframe src="/img/WanderABit/Gameplay.mp4" frameborder="0"></iframe>
</div>

<div class="main-container">
    <div class="background1-div welcome-text">
        <p class="title-font">Description</p>
        <p class="mt-3">As the first assignment for second semester of the second year, we were tasked with creating a rouge-like dungeon game that has randomly generated dungeons. The game randomly generates 10 dungeon rooms connected by hallways. The further the player advances the more enemies are in each room, increasing the difficulty.<br>
            <br>There are two different easter eggs, they can be activated at the same time. Hint (look in the main menu)</p>
            <br>The download is not a complete build, but the entire project. Because of difficulties trying to build with all of the DirectX library .dlls, the build executeable launches but immediately crashes. To run the game, it will have to be launched through visual studio.</p>
            <br>This game was probably the most technically complex with the programming because it is written not only in native C++ but works directly with the DirectX 2D library.<br>
      </div>
</div>